/* Sidebar */

.sidebar {
    width: 250px;
    height: 100vh;
    background-color: #333; /* Color de Fondo de Sidebar*/
    padding: 1rem;
    color: #fff;/* Color de Letras y logos de Sidebar*/
    flex-shrink: 0;
    position: relative;
}

.sidebar nav ul {
    list-style-type: none;
}

.sidebar nav ul li {
    margin-bottom: 1rem;
}

.sidebar nav ul li a {
    color: #fff;/* Color de Letras de Sidebar en Nav ul li a*/
    text-decoration: none;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    text-decoration: underline;
}


.sidebar .profile-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #333;/* Color de Fondo de Usuario*/
    padding: 10px 6px;
    box-sizing: border-box;
}

.sidebar .profile-content .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.profile-content .profile .profile-details {
    display: flex;
    align-items: center;
}

.profile-content .profile img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 50%;
}


.profile-content .profile .name-profile {
    margin-left: 10px;
}

.profile-content .profile .name {
    font-size: 16px;
    font-weight: 500;
}

.profile-content .profile .job {
    font-size: 13px;
    color: #666;/* Color de Letras de Tipo de USUARIO*/
}

.profile #log_out {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #f44336;/* Color de Logo Logout*/
    cursor: pointer;
    transition: color 0.3s ease;
}

.profile #log_out:hover {
    color: #d32f2f;/* Color de Logo Logout al presionar*/
}

.submenu {
    display: none;
    padding-left: 1rem;
}

/*.submenu-direccion{
    display: none;
}
*/
.submenu.active {
    display: block;
}

.submenu-direccion.active {
    display: block;
}

#content {
    flex-grow: 1;
}
